.container {    
    margin: 0f auto;
    max-width: 400px;
    height: auto;    
    /* border-radius: 3px;
    border-style: solid; */
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    
    padding-top: 50px;
}
.form-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    padding-left: 80px;
    padding-top: 50px;
}

.form-item {
    width: 80%;
}

.form-btn-ok{
    float: right;
    padding-right: 125px;
}