<div class="flex-container wrap">
    <div *ngFor="let prod of productos" class="flex-item">
        <mat-card class="example-card">
            <mat-card-header>

                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title-group>
                    <mat-card-title>{{prod.nombre}}</mat-card-title>
                    <mat-card-subtitle>{{prod.Tipo}}. ID: {{prod.id}}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <img mat-card-image src={{prod.imagen}} alt="Photo of a product" class="image-height">
            <mat-card-content>               
                <p>Precio: {{prod.precio}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>DETALLE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>